<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="user-login">
  <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <form>
      <div class="container">
  <!-- Content here -->
  <div class="row">
<div class="col-md-6 offset-md-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="https://www.tsafindia.org/assets/images/signin.png" width="200px" height="200px" />

    </div>
  </div>


    </div>

      <div class="col-md-6 offset-md-3">

  <div class="form-group">
    <label>Usuario:</label>
    <input type="text" class="form-control" id="txtUsuario"  placeholder="Ingresa tu usuario" maxlength="40" value="{{usuario::input}}">
  </div>
  <div class="form-group">
    <label>Clave Acceso:</label>
    <input type="password" class="form-control" id="txtClave" placeholder="digita tu clave" maxlength="10"  value="{{password::input}}">
  </div>

  <button type="button" class="btn btn-primary" on-click="accesar" >Entrar</button>
  <button type="button" class="btn btn-link" on-click="registro">Registrate</button>
    </div>
      </div>

</div>
</form>
  </template>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/src/mis-finanzas-app/encriptacion.js" ></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserLogin extends Polymer.Element {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,
          },
          password:{
            type: String
          }
        };
      }

      accesar(){
        var pwd = Sha256.hash(this.password.toString());
      console.log("Se ha pulsado el boton de Entrar  el usuario   "  +  this.usuario + "  password  "  + pwd );



      var request= new XMLHttpRequest();
      var url="http://localhost:3000/acceso";
      var data = {"usuario": this.usuario, "password": pwd};
    //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
      request.open("POST",url,false);
      request.setRequestHeader("Access-Control-Allow-Origin","*");
      request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      request.send(JSON.stringify(data));
      var respuesta = JSON.parse(request.responseText);
      console.log(request.status);

      if(request.status == 200){
        console.log("logramos el login:  "   + respuesta);
        sessionStorage.setItem('numCliente', respuesta.num_cliente);
        sessionStorage.setItem('apiKey', respuesta.apiKey);
        console.log('numCliente ' +  respuesta.num_cliente);
        console.log('apiKey --> ' +  respuesta.apiKey);
        setTimeout(this.stopTimer,500);
        this.dispatchEvent(new Event('showNext', {
          bubbles: true,
          detail: { nombre: 'info' }
        }));

      }else {
        console.log("fallamos el login:  "   + respuesta);
      }

    }
stopTimer(){
  
}
    registro(){
      this.dispatchEvent(new Event('showReg', {
        bubbles: true,
        detail: { nombre: 'info' }
      }));

    }

    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>
