<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="user-signup">
  <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container" >
<!-- Content here -->
<form>
  <div class="col-md-6 offset-md-3">
    <div class="row justify-content-center">
      <div class="col-4">
        <img src="https://www.tsafindia.org/assets/images/signin.png" width="200px" height="200px" />

      </div>
    </div>


      </div>
<div class="form-row">
   <div class="col-md-4 mb-3">
     <label for="validationDefault03">Nombre</label>
     <input type="text" class="form-control" id="txtNombre"  value="{{nombre::input}}"  maxlength="40" required>
   </div>
   <div class="col-md-4 mb-3">
     <label for="validationDefault03">Apellido Paterno</label>
     <input type="text" class="form-control" id="validationDefault02"  value="{{paterno::input}}"   maxlength="25" required>
   </div>
   <div class="col-md-4 mb-3">
     <label for="validationDefault03">Apellido Materno</label>
     <input type="text" class="form-control" id="validationDefault02"  value="{{materno::input}}"  maxlength="25" required>
   </div>

 </div>
 <div class="form-row">
   <div class="col-md-4 mb-3">
     <label for="validationDefaultUsername">Username</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <span class="input-group-text" id="inputGroupPrepend2">@</span>
       </div>
       <input type="text" class="form-control" id="validationDefaultUsername"aria-describedby="inputGroupPrepend2" maxlength="40" value="{{usuario::input}}"required>
     </div>
   </div>
   <div class="col-md-4 mb-3">
     <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" value="{{password::input}}"  maxlength="10" required>
   </div>


 </div>
 <div class="form-group">
   <div class="form-check">
     <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
     <label class="form-check-label" for="invalidCheck2">
         Acepto los terminos y condiciones del servicio.
     </label>
   </div>
 </div>
 <button class="btn btn-primary" type="button" on-click="altaUsuario">Dar de alta</button>
 <button type="button" class="btn btn-link" on-click="regreso">Regresar</button>
</form>


</div>
  </template>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/src/mis-finanzas-app/encriptacion.js" ></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserSignup extends Polymer.Element {
      static get is() { return 'user-signup'; }
      static get properties() {
        return {
          nombre: {
            type: String,
          },
          paterno: {
            type: String,
          },
          materno: {
            type: String,
          },
          password: {
            type: String,
          },
          usuario: {
            type: String,
          }
        };
      }

      altaUsuario(){
        var request= new XMLHttpRequest();
        var url="http://localhost:3000/clientes";
        var pwd = Sha256.hash(this.password.toString());
        var data = {"nombre":this.nombre,"paterno":this.paterno,"materno":this.materno,"usuario":this.usuario,"pwd":pwd};
        console.log("registro de Cliente DATA:  "  + " nombre " + this.nombre  + " paterno " + this.paterno + " materno " + this.materno + "usuario" +  this.usuario + "pwd" + pwd);
      //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open("POST",url,false);
        request.setRequestHeader("Access-Control-Allow-Origin","*");
        request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        request.send(JSON.stringify(data));
        var respuesta = request.responseText;
        console.log(request.status);

        if(request.status == 200){
          console.log("logramos agregar la cuenta:  "   + respuesta);
          alert("Usuario dado de alta correctamente, por favor introduce tus nuevos datos para ingresar");
          this.dispatchEvent(new Event('showNext', {
            bubbles: true,
            detail: { nombre: 'info' }
          }));

        }else {
          console.log("fallamos al agregar la cuenta:  "   + respuesta);
        }
      }

      regreso(){
        this.dispatchEvent(new Event('showNext', {
          bubbles: true,
          detail: { nombre: 'info' }
        }));

      }


    }

    window.customElements.define(UserSignup.is, UserSignup);
  </script>
</dom-module>
