<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="user-info">
  <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
    <!-- <button on-click="consultados" class="btn btn-success" type="button" name="button">Obtener Movimientos</button>-->
<!-- Content here -->
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="row justify-content-center">
  <div class="col-4">
    <img src="https://www.tsafindia.org/assets/images/signin.png" width="200px" height="200px" />
  </div>


</div>
<div class="row ">
<div class="col-md-8 offset-md-4">
<H3><p class="font-weight-bold">{{nombre}}&nbsp; {{paterno}}&nbsp;  {{materno}}</p></H3>

</div>
</div>
  </div>
  <table class="table table-striped">

    <tbody>

    <template is="dom-repeat" items="{{producto}}">
      <tr>
        <td>[[item.tipo]]</td>
        <td>[[item.cuenta]]</td>
        <td class="center">[[_currencyFormat(item.saldo)]]</td>
        <td> <button type="button" class="btn btn-link" on-click="consultaMov" data-item$="[[item.cuenta]]">Consulta movimientos</button>  </td>
      </tr>
      </template>
    </tbody>
  </table>


  <div class="container" id="boton_agregar">
    <button type="button" class="btn btn-primary" on-click="btnAgregar" >Agregar cuenta</button>

  </div>



  <div class="container" id="form_agregar" style="display:none">
  <form on-submit="alert('hola')">



   <div class="form-row">
     <div class="col-md-3 mb-4">
      <label for="validationDefault04">Tipo</label>
        <select class="form-control" id="txtTipo" value="{{tipo::input}}" required>
          <option selected>Selecciona...</option>
          <option value="Ahorro">Ahorro</option>
          <option value="TDC">TDC</option>
        </select>
    </div>

     <div class="col-md-6 mb-2">
       <label for="validationDefault03">Número</label>
       <input type="text" class="form-control" id="txtDescripcion" placeholder="Número de cuenta o TDC"  value="{{cuenta::input}}" required>
     </div>

     <div class="col-md-3 mb-4">
       <label for="validationDefault05">Saldo</label>
       <input type="number" class="form-control" id="txtImporte" placeholder="Digita el saldo inicial"  value="{{saldo::input}}" step=".01" required>
     </div>

   </div>


   <input type="button" class="btn btn-primary"  on-click="registraCuenta"  value="Guardar"></input>
   <input type="button" class="btn btn-warning"  on-click="cancelar"  value="Cancelar"></input>

   <!--  <input type="date" class="form-control" id="txtFecha" placeholder="seleccione la fecha"  value="{{fecha::input}}">
      <input type="text" class="form-control" id="txtDescripcion" placeholder="escribe la descripción corta"  value="{{descripcion::input}}">
      <input type="text" class="form-control" id="txtTipo" placeholder="cargo o abono"  value="{{tipo::input}}">
      <input type="number" class="form-control" id="txtImporte" placeholder="digita  el importe"  value="{{importe::input}}" step=".01">
      <button type="button" class="btn btn-primary" on-click="registraMov" >Guardar Movimiento</button>
    -->
  </form>
  </div>



  </div>
  <div class="row">
    <div class="col-md-4 offset-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dolar Compra</h5>
          <p class="card-text">[[_currencyFormat(compra)]]</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dolar Venta</h5>
          <p class="card-text">[[_currencyFormat(venta)]]</p>
        </div>
      </div>
    </div>
  </div>












</div>
  </template>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserInfo extends Polymer.Element {
      static get is() { return 'user-info'; }
      static get properties() {
        return {
          producto: {
            type: Array,
            notify:true
          },
          nombre:{
            type:String
          },
          paterno:{
            type:String
          },
          materno:{
            type:String
          },
          compra: {
            type: Number,
          },
          venta: {
            type: Number,
          },
          tipo:{
            type:String
          },
          cuenta:{
            type:String
          },
          saldo:{
            type:Number
          }
        };
      }


 consultaCompraDolar(){
   console.log("estoy en compra  dolares:");

  var request= new XMLHttpRequest();
  var url="https://www.banxico.org.mx/SieAPIRest/service/v1/series/SF43787/datos/oportuno?token=5a82a6a924206f0a8472615af91651dba949ad0038d212bf25c8b72121c32421";
//  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
  request.open("GET",url,false);
  request.setRequestHeader("Access-Control-Allow-Origin","*");
  request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
  request.setRequestHeader("Accept","application/json");
  request.setRequestHeader("Content-Type","application/json");
  request.send();
  var respuesta = JSON.parse(request.responseText);

  if(request.status == 200){
    this.compra = parseFloat(respuesta.bmx.series[0].datos[0].dato);
    console.log("logramos compra dolares:  "   +  respuesta.bmx.series[0].datos[0].dato);
  }else {
    console.log("fallamos compra dolares:  "   + respuesta);
  }


}
consultaVentaDolar(){
  console.log("estoy en venta  dolares:");
    var request= new XMLHttpRequest();
    var url="https://www.banxico.org.mx/SieAPIRest/service/v1/series/SF43786/datos/oportuno?token=5a82a6a924206f0a8472615af91651dba949ad0038d212bf25c8b72121c32421";
    request.open("GET",url,false);
    request.setRequestHeader("Access-Control-Allow-Origin","*");
    request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");
    request.send();
    var respuesta = JSON.parse(request.responseText);
    if(request.status == 200){
      this.venta = parseFloat(respuesta.bmx.series[0].datos[0].dato);
      console.log("logramos venta dolares:  "   + respuesta.bmx.series[0].datos[0].dato);
    }else {
      console.log("fallamos venta dolares:  "   + respuesta);
    }


  }
  consultados(){

    this.consultaCompraDolar();
    this.consultaVentaDolar();
    this.consultaCliente();
  }



  consultaCliente(){
      //var data = sessionStorage.getItem('idcliente');
    var numcliente = sessionStorage.getItem('numCliente');
    var apiKey = sessionStorage.getItem('apiKey');
    var request= new XMLHttpRequest();
    var url="http://localhost:3000/clientes/" + numcliente;
    console.log("Se ha pulsado Consulta cliente   "  +  numcliente+ "  sesion   "  + apiKey);
  //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
    request.open("GET",url,false);
    request.setRequestHeader("Access-Control-Allow-Origin","*");
    request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");
    request.setRequestHeader("apiKey",apiKey);
    request.send();
    var respuesta = JSON.parse(request.responseText);

    if(request.status == 200){
      this.nombre = respuesta[0].nombre;
      this.paterno = respuesta[0].paterno;
      this.materno = respuesta[0].materno;

        this.producto = respuesta[0].producto;
      console.log("logramos consulta clientes:  "   + this.nombre + this.paterno   + this.materno + ".. y mas  ");
    }else {
      console.log("fallamos consulta clientes:  "   + respuesta);
    }

    console.table(this.movimientos);

  }


  registraCuenta(){
    var numcliente = sessionStorage.getItem('numCliente');
    var apiKey = sessionStorage.getItem('apiKey');
    var request= new XMLHttpRequest();
    var url="http://localhost:3000/clientes/" + numcliente;
    var data = {"numCuenta":this.cuenta,"saldo":parseFloat(this.saldo),"tipo":this.tipo};
    console.log("registro cuenta DATA:  "  + " cuenta " + this.cuenta  + " saldo " + parseFloat(this.saldo) + " tipo " + this.tipo );
  //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

    request.open("PUT",url,false);
    request.setRequestHeader("Access-Control-Allow-Origin","*");
    request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");
    request.setRequestHeader("apiKey",apiKey);
    request.send(JSON.stringify(data));
    var respuesta = request.responseText;
    console.log(request.status);

    if(request.status == 200){
      console.log("logramos agregar la cuenta:  "   + respuesta);
      this.$.boton_agregar.style.display = "block";
       this.$.form_agregar.style.display = "none";
         this.consultaCliente();
    }else {
      console.log("fallamos al agregar la cuenta:  "   + respuesta);
    }
    this.$.boton_agregar.style.display = "block";
     this.$.form_agregar.style.display = "none";
  }





  _currencyFormat(num) {
    console.log(num);
    return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }

  btnAgregar(){
     this.$.boton_agregar.style.display = "none";
      this.$.form_agregar.style.display = "block";
  }

  inicializa(){
    console.log("Estoy en info SHOW");
    if(document.getElementById('info').style.display== "block")
    {
      this.consultaCompraDolar();
      this.consultaVentaDolar();
      this.consultaCliente();



    }
  }

  consultaMov(event){

    var cuenta = event.target.dataset.item;
    console.log("Estoy en consulta Mov cuenta"  +  cuenta);
    document.getElementById('movs').num_cuenta = cuenta;
    this.dispatchEvent(new Event('showNext', {
      bubbles: true,
      detail: { nombre: 'info' }
    }));
  }
  cancelar(){
    this.cuenta ="";
    this.saldo="";
    this.tipo="";
    this.importe="";
    this.$.boton_agregar.style.display = "block";
     this.$.form_agregar.style.display = "none";
  }



    }

    window.customElements.define(UserInfo.is, UserInfo);
  </script>
</dom-module>
