<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="user-movements">
  <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <!--   <button on-click="obtenerMovimientos" class="btn btn-success" type="button" name="button">Obtener Movimientos</button> -->

  </menu>
    <div class="container" >
    <table class="table table-striped" >
      <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cargo</th>
        <th scope="col">Abono</th>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{movimientos}}">
             <tr>
               <td>[[item.fecha]]</td>
              <td>[[item.descripcion]]</td>
              <template is="dom-if" if="{{_validaTipo(item.tipo)}}" >
                <td>[[_currencyFormat(item.importe)]]</td>
                <td>&nbsp;</td>
              </template>
              <template is="dom-if" if="{{!_validaTipo(item.tipo)}}" >
                <td>&nbsp;</td>
                <td>[[_currencyFormat(item.importe)]]</td>
              </template>
             </tr>
           </template>
    </tbody>

    </table>

  <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7527.922840517238!2d-99.1355665976203!3d19.370823100206316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fe48e8e8cfa7%3A0xe784e66ef709eb5b!2sGroshi+Express!5e0!3m2!1ses-419!2smx!4v1565836808990!5m2!1ses-419!2smx" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
  -->
 </div>
 <div class="container" id="boton_agregar">
   <button type="button" class="btn btn-primary" on-click="btnAgregar" >Agregar Movimiento</button>
  <button type="button" class="btn btn-secondary" on-click="regresa" >Regresar</button>

 </div>
   <div class="container" id="form_agregar" style="display:none">
<form on-submit="alert('hola')">



    <div class="form-row">
      <div class="col-md-2 mb-2">
        <label for="validationDefault03">Fecha</label>
        <input type="date" class="form-control" id="txtFecha" placeholder="seleccione la fecha"  value="{{fecha::input}}" required>
      </div>
      <div class="col-md-6 mb-2">
        <label for="validationDefault03">Descripción</label>
        <input type="text" class="form-control" id="txtDescripcion" placeholder="escribe la descripción corta"  value="{{descripcion::input}}" required>
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-3 mb-4">
        <label for="validationDefault04">Tipo</label>
          <select class="form-control" id="txtTipo" value="{{tipo::input}}" required>
            <option selected>Selecciona...</option>
            <option value="cargo">Cargo</option>
            <option value="abono">Abono</option>
          </select>
      </div>
      <div class="col-md-3 mb-4">
        <label for="validationDefault05">Importe</label>
        <input type="number" class="form-control" id="txtImporte" placeholder="digita  el importe"  value="{{importe::input}}" step=".01" required>
      </div>
    </div>

    <input type="button" class="btn btn-primary"  on-click="registraMov"  value="Guardar"></input>
    <input type="button" class="btn btn-warning"  on-click="cancelar"  value="Cancelar"></input>

    <!--  <input type="date" class="form-control" id="txtFecha" placeholder="seleccione la fecha"  value="{{fecha::input}}">
       <input type="text" class="form-control" id="txtDescripcion" placeholder="escribe la descripción corta"  value="{{descripcion::input}}">
       <input type="text" class="form-control" id="txtTipo" placeholder="cargo o abono"  value="{{tipo::input}}">
       <input type="number" class="form-control" id="txtImporte" placeholder="digita  el importe"  value="{{importe::input}}" step=".01">
       <button type="button" class="btn btn-primary" on-click="registraMov" >Guardar Movimiento</button>
     -->
</form>
   </div>




  </template>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserMovements extends Polymer.Element {
      static get is() { return 'user-movements'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify:true
          },
          fecha: {
            type: String
          },
          descripcion: {
            type: String
          },
          tipo: {
            type: String
          },
          importe: {
            type: Number
          },
          num_cuenta:{
            type:String
          }
        };
      }
      obtenerMovimientos(){
        var numcliente = sessionStorage.getItem('numCliente');
        var apiKey = sessionStorage.getItem('apiKey');
        console.log("entrea obtener movimientos    "  +  this.usuario + "  num cuenta  " + this.num_cuenta);

        var request= new XMLHttpRequest();
        var url="http://localhost:3000/movimientos/" + numcliente + "/" + this.num_cuenta;
      //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("GET",url,false);
        request.setRequestHeader("Access-Control-Allow-Origin","*");
        request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        request.setRequestHeader("apiKey",apiKey);
        request.send();
        var respuesta = JSON.parse(request.responseText);

        if(request.status == 200){
            this.movimientos = respuesta[0].movimientos;
          console.log("logramos los movimientos:  "   + respuesta.num_cuenta  +  ".. y mas  ");
        }else {
          console.log("fallamos los movimientos:  "   + respuesta);
        }

        console.table(this.movimientos);

      }

      registraMov(){
        var numcliente = sessionStorage.getItem('numCliente');
        var apiKey = sessionStorage.getItem('apiKey');
        var request= new XMLHttpRequest();
        var url="http://localhost:3000/movimientos/" + numcliente + "/" + this.num_cuenta;
        var data = {"fecha":this.fecha,"descripcion":this.descripcion,"tipo":this.tipo,"importe":parseFloat(this.importe) };
        console.log("registro Movimiento DATA:  "  + " fecha " + this.fecha.toString  + " descripcion " + this.descripcion + " tipo " + this.tipo + " importe " + parseFloat(this.importe) );
      //  var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open("PUT",url,false);
        request.setRequestHeader("Access-Control-Allow-Origin","*");
        request.setRequestHeader("Access-Control-Allow-Headers","Origin, X-Requested-With, Content-Type, Accept");
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        request.setRequestHeader("apiKey",apiKey);
        request.send(JSON.stringify(data));
        var respuesta = request.responseText;
        console.log(request.status);

        if(request.status == 200){
          console.log("logramos agregar el movimiento:  "   + respuesta);
          this.$.boton_agregar.style.display = "block";
           this.$.form_agregar.style.display = "none";
             this.obtenerMovimientos();
        }else {
          console.log("fallamos al agregar el movimiento:  "   + respuesta);
        }
        this.$.boton_agregar.style.display = "block";
         this.$.form_agregar.style.display = "none";
      }

      btnAgregar(){
         this.$.boton_agregar.style.display = "none";
          this.$.form_agregar.style.display = "block";
      }

      _validaTipo(tipo){
        console.log(tipo=="cargo");
        return tipo=="cargo";
      }

      _currencyFormat(num) {
        return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
      }
  /**ready() {
    super.ready();
    inicializa();

  }**/
 cancelar(){
   this.fecha ="";
   this.descripcion="";
   this.tipo="";
   this.importe="";
   this.$.boton_agregar.style.display = "block";
    this.$.form_agregar.style.display = "none";
 }



  inicializa(){
    console.log("Estoy en movimientos SHOW");
    if(document.getElementById('movs').style.display== "block")
    {
      this.obtenerMovimientos();

    }
  }

  regresa(){
    this.dispatchEvent(new Event('showReg', {
      bubbles: true,
      detail: { nombre: 'info' }
    }));
  }

  }

    window.customElements.define(UserMovements.is, UserMovements);
  </script>
</dom-module>
